.container{
    width: 90%;
    height: auto;
    margin: auto;
    background-color: aliceblue;

}
.header{
    width: 100%;
    height: 100px;
    background-color: aquamarine;


}
.main{
    width: 100%;
    height: 400px;
    background-color: blueviolet;
    display: flex;

}
.left{
    width: 30%;
    height: 100px;
    background-color: burlywood;
}
.right{
    width: 70%;
    height: 100px;
    background-color: rgb(209, 26, 50);
}
.footer{
    width: 100%;
    height: 70px;
    background-color: blue;
}


